.article-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.articleSorting {
  display: flex;
  justify-content: space-between;
  background: var(--lighter-shade);
}

.headerButton {
  padding: 5px;
  background: var(--lighter-shade);
  color: white;
  border: none;
}