.articleCard {
  width: 90%;
  /* height: 180px; */
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--darker-shade);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
  transition: .3s;
}

.articleCard:hover {
  transform: scale(1.05);
  transition: .3s;
}
a {
  text-decoration: none;
  color: white;
}

.articleBound {
  background: white;
  color: var(--darker-shade);
  width: 100%;
}

.boundContents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
}

.votes p {
  float: left;
}

.subHeading {
  font-size: 10px;
  color: gray;
}

.articleTitle {
  width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .articleCard:hover {
    transform: none;
  }
}