.article-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articleSorting {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background: var(--lighter-shade);
}

.headerButton {
  height: 5vh;
  background: var(--lighter-shade);
  color: white;
  border: none;
  font-size: 1em;
  font-weight: bold;
}

.filterBy {
  width: 100%;
}

.sortBy {
  display: flex;
  flex-wrap: nowrap;
}

.pageChange {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageChange button {
  background: none;
  border: 1px solid var(--red);
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--red);
  margin: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.pageChange button:hover {
  background: var(--red);
  color: white;
  transition: 0.3s;
}
