.header {
  background: rgb(255, 255, 255);
  height: 5vh;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  box-shadow: 1px 3px 5px var(--lighter-shade);
}

.header .logo{
  margin-left: 5vw;
}

.header p {
  font-size: calc(10px + 2vmin);
  float: left;
  font-weight: bolder;
}

.header a {
  color: black
}

.Np {
  color: var(--red)
}

.headerLoginButton {
  background: var(--red);
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5vw;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
}

.headerLoginButton:hover {
  background: var(--darker-red);
  transition: .3s;
}

.userSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userCard {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid var(--red);
  padding-left: 3vw;
  height: 3vh;
  margin-right: 5vw;
}

.header a {
  text-decoration: none;
}

.userCard p {
  margin: 0;
  font-size: 0.8em;
}

.headerUserIcon {
  background: none;
  border: none;
  cursor: pointer;
}

.headerUserIcon img {
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  border: 2px solid var(--red);
}