.header {
  background: rgb(255, 255, 255);
  height: 5vh;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

.header p {
  font-size: calc(10px + 2vmin);
  float: left;
  font-weight: bolder;
}

.header a {
  color: black
}

.Np {
  color: var(--red)
}
