.bar {
  background: var(--lighter-shade);
  height: 5vh;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  padding: 0 10px;
}

.bar p  {
  float: left;
}

.barTitle {
  margin: 0;
  width: 100%;
  border-bottom: 1px solid white;
  font-weight: lighter;
}

.bottomBar {
  text-align: left;
  height: auto;
}

.contentContainer {
  padding: 0 10px;
}

.articleFullContents {
  padding: 20px;
  margin-top: 4vh
}

.articlebodyText {
  text-align: justify;
}

.articleMetaInfo {
  font-size: 10px;
}
