.userPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
  width: 90vw;
  max-width: 1000px;
}

.userArticles {
  width: 100%;
}

.userInfo {
  border-radius: 10px;
  box-shadow: 2px 2px 5px var(--darker-shade);
  color: white;
  margin-block-start: 1em;
  padding: 10px;
}

.userInfoCard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInfoCard img {
  width: 20%;
  border-radius: 50%;
  border: 3px solid white;
}

.userDetails {
  width: 70%;
}

.logout {
  width: 100%;
  border: 1px solid var(--red);
  color: var(--red);
  background: var(--main-colour);
}

.logout:hover {
  color: white;
}

@media (min-width: 1025px) {
  .userArticles {
    width: 65%;
  }
  .userInfo {
    width: 32%;
  }
  .userInfo img {
    width: 30%;
  }
}
